/*Make sure to make different classes for your headers*/
h1 {
    text-align: center;
}

/*Center the text here*/
.centered {
    text-align: center;
}

 /* Use this class for the start/next/end buttons, they are in the middle(more style changes make this button irrevelant)*/
/*.startbutton {
    width: 500px;
    height: 150px;
    margin-top: 100px;
    margin-left: 500px;
}*/

 /* Use this class for the choice buttons, they are spaced closer(edit I removed the button to fit the theme - Jared)*/
/* .choiceButtons {
    width: 500px;
    height: 150px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 50px;
} */

/*Bigger text add more if you want specific sizes -Jared*/
.bigText {
    font-size: 30px;
}

/*Ill find a better picture somewhere or add one if you got one for the title screen -Jared*/
.startImg {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

/* created a class for the body, so that I can change background image -Halley */
.katabody {
    background-image: url(../assets/codestackbackdrop.png);
    background-size: 100%;
}

/* Aligning image to the center -Halley*/
.flexContent {
    display: flex;
    justify-content: center;
}

/* Styling a div containing my p tags and button tags -Halley*/
.katatext {
    background-color: paleturquoise;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* from .katatext button to .katatext a: hover, it's styling the buttons and the hovers -Halley */
.katatext button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(61, 204, 185);
}

.katatext a {
    text-decoration: none;
    color: black;
}

.katatext button:hover{
    background-color: darkcyan;
}

.katatext a:hover {
    color: blanchedalmond;
}

.katabody2 {
    background-image: url(../assets/katabackground.jpg);
    background-size: 100%;
}

/*  From line below to .katabody 3 {}, reusing classes for other pages to have similar styling but also changing small things such as margins, opacity -Halley*/
.katabody2 .katatext,
.katabody3 .katatext {
    opacity: .9;
}

.katabody2 .flexContent,
.katabody3 .flexContent {
    margin-top: 50px;
    margin-bottom: 30px;
}

.katabody3 {
    background-image: url(../assets/katabackground2.jpg);
    background-size: 100%;
}

/* this class style is only for one picture. I wanted this picture in a certain position than the others so it's not reused -Halley*/
.imgPosition{
    position: absolute;
    right: 27%;
    top: 35%;
}

.indexbody {
    background-image: url(../assets/Screenshot\ 2023-10-20\ 134049.png);
    background-size: 100%;
}

.pagebody1 {
    background-image: url(../assets/andrew-neel-B4rEJ09-Puo-unsplash.jpg);
    background-size: 100%;
}

.pagebody2 {
    background-image: url(../assets/david-streit-BumOnw4oEZo-unsplash.jpg);
    background-size: 100%;
}

.pagebody3 {
    background-image: url(../assets/istockphoto-1147445727-612x612.jpg);
    background-size: 100%;
}

/* My part of the work - Liam */
/* gets rid of any white spaces in the BG -Liam */
.coffeebody{
    background-image: url(../assets/ruben-ramirez-coffeeshop-unsplash.jpg);
}

/* sets the Back Ground image width- Liam */
.BG{
    width: 100%;
    height: 100%;
}

.header {

    font-size: 50px;
    position: absolute;
    top: 225px;
    left:12%;
    color:blanchedalmond;

}
/* gif image placement -Liam */
.imgCatPosition{
    position: absolute;
    right: 35%;
    top: 35%;
}

.imgCoffeePosition{
    position: absolute;
    right: 35%;
    top: 60%;
}

.coffeetext{

    background-color:rgba(79, 76, 72, 0.781);
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top:600px;
    left:11%;
    right:11%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.coffeetext button{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    top:200px;
    right:1%;
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px teal;
}

.coffeetext a {
    text-decoration: none;
    color: black;
}
/* higlights the button when user hovers over it -Liam */
.coffeetext button:hover{
    background-color:darkgray;
}

.coffeetext a:hover {
    color: blanchedalmond;
}

.coffeebody2 {
    background-image: url(../assets/alexander-b-sadCat-unsplash.jpg);
}

.coffeetext2{

    background-color:rgba(79, 76, 72, 0.781);
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top:800px;
    left:11%;
    right:11%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.coffeetext2 button{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    top:200px;
    right:1%;
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px teal;
}

.coffeetext2 a {
    text-decoration: none;
    color: black;
}

.coffeetext2 button:hover{
    background-color:darkgray;
}

.coffeetext2 a:hover {
    color: blanchedalmond;
}


.endbody {
    background-image: url(../assets/retrosupply-typewriter-unsplash.jpg);
}

.endtext {
    
    background-color:rgba(79, 76, 72, 0.781);
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top:500px;
    left:25%;
    right:25%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    top:200px;
    right:1%;
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px teal;
    background-color: azure;

}

.btn2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    top:200px;
    right:30%;
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px teal;
    background-color: azure;

}

.endtext a {
    text-decoration: none;
    color: black;
}

.endtext button:hover{
    background-color:darkgray;
}

.endtext a:hover {
    color: blanchedalmond;
}

/* End of my part -Liam */

/* This kata start text is just a copy of the katatext but for the starting screen to fit the theme -Jared */
.kataStartText {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.kataStartText button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(61, 204, 185);
}
.kataStartText a {
    text-decoration: none;
    color: black;
}
.kataStartText button:hover{
    background-color: darkcyan;
}
.kataStartText a:hover {
    color: blanchedalmond;
}

/* This is just to move the text on page one downward -Jared */
.pageOneMove {
    margin-top: 250px;
}