/*Make sure to make different classes for your headers*/
h1 {
    text-align: center;
}

/*Center the text here*/
.centered {
    text-align: center;
}

 /* Use this class for the start/next/end buttons, they are in the middle*/
.startbutton {
    width: 500px;
    height: 150px;
    margin-top: 100px;
    margin-left: 500px;
}

 /* Use this class for the choice buttons, they are spaced closer*/
.choiceButtons {
    width: 500px;
    height: 150px;
    margin-top: 100px;
    margin-left: 150px;
}

/*Bigger text add more if you want specific sizes -Jared*/
.bigText {
    font-size: 30px;
}

/*Ill find a better picture somewhere or add one if you got one for the title screen -Jared*/
.startImg {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

/* created a class for the body, so that I can change background image -Halley */
.katabody {
    background-image: url(../assets/codestackbackdrop.png);
    background-size: 100%;
}

/* Aligning image to the center -Halley*/
.flexContent {
    display: flex;
    justify-content: center;
}

/* Styling a div containing my p tags and button tags -Halley*/
.katatext {
    background-color: paleturquoise;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}