/*Make sure to make different classes for your headers*/
h1 {
    text-align: center;
}

/*Center the text here*/
.centered {
    text-align: center;
}

 /* Use this class for the start/next/end buttons, they are in the middle*/
.startbutton {
    width: 500px;
    height: 150px;
    margin-top: 100px;
    margin-left: 500px;
}

 /* Use this class for the choice buttons, they are spaced closer(edit I removed the button to fit the theme - Jared)*/
/* .choiceButtons {
    width: 500px;
    height: 150px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 50px;
} */

/*Bigger text add more if you want specific sizes -Jared*/
.bigText {
    font-size: 30px;
}

/*Ill find a better picture somewhere or add one if you got one for the title screen -Jared*/
.startImg {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

/* created a class for the body, so that I can change background image -Halley */
.katabody {
    background-image: url(../assets/codestackbackdrop.png);
    background-size: 100%;
}

/* Aligning image to the center -Halley*/
.flexContent {
    display: flex;
    justify-content: center;
}

/* Styling a div containing my p tags and button tags -Halley*/
.katatext {
    background-color: paleturquoise;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* from .katatext button to .katatext a: hover, it's styling the buttons and the hovers -Halley */
.katatext button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(61, 204, 185);
}

.katatext a {
    text-decoration: none;
    color: black;
}

.katatext button:hover{
    background-color: darkcyan;
}

.katatext a:hover {
    color: blanchedalmond;
}

.katabody2 {
    background-image: url(../assets/katabackground.jpg);
    background-size: 100%;
}

/*  From line below to .katabody 3 {}, reusing classes for other pages to have similar styling but also changing small things such as margins, opacity -Halley*/
.katabody2 .katatext,
.katabody3 .katatext {
    opacity: .9;
}

.katabody2 .flexContent,
.katabody3 .flexContent {
    margin-top: 50px;
    margin-bottom: 30px;
}

.katabody3 {
    background-image: url(../assets/katabackground2.jpg);
    background-size: 100%;
}

/* this class style is only for one picture. I wanted this picture in a certain position than the others so it's not reused -Halley*/
.imgPosition{
    position: absolute;
    right: 27%;
    top: 35%;
}